[submodule "ext/kakoune"]
	path = ext/kakoune
	url = https://github.com/mawww/kakoune
[submodule "ext/qutebrowser"]
	path = ext/qutebrowser
	url = https://github.com/qutebrowser/qutebrowser
[submodule "ext/playerctl"]
	path = ext/playerctl
	url = https://github.com/acrisci/playerctl
