general {
    colors = true
    interval = 5
}

order += "pomodoro"
order += "volume_status"
order += "backlight"
order += "wifi"
order += "net_iplist"
order += "battery 0"
order += "battery 1"

order += "clock dates"
order += "clock times"
order += "clock aoe"

pomodoro {
    format = "{mmss}"
}

wifi {
    format_up = "{signal_percent} / {ssid}"
    format_down = ""
}

net_iplist {
    format = "{format_iface}"
    format_iface = "{ip4}"
}

battery 0 {
    format = "%status %percentage %remaining"
    format_down = ""
    status_chr = "⚡"
    status_bat = "🔋"
    status_full = "✅"
    hide_seconds = true
    last_full_capacity = true
}

battery 1 {
    format = "%status %percentage %remaining"
    format_down = ""
    status_chr = "⚡"
    status_bat = "🔋"
    status_full = "✅"
    hide_seconds = true
    last_full_capacity = true
}

clock times {
    format = "CU {America/Chicago} / मुंबई {Asia/Kolkata} / 東京 {Asia/Tokyo}"
    format_time = "%H:%M"
}

clock aoe {
    format = "AoE {Etc/GMT+12}"
    format_time = "%H:%M"
}

clock dates {
    format = "{America/Chicago} / {Asia/Tokyo}"
    format_time = "%a %d"
}

volume_status {
    format       = "♬ {percentage}%"
    format_muted = "🚫 {percentage}%"
    button_up    = 4
    button_down  = 5
    button_mute  = 2
}

