[tabs]
show = never
tabs-are-windows = true

[ui]
downloads-position = bottom

[searchengines]
DEFAULT = https://encrypted.google.com/search?hl=en&q={}
wolf    = http://www.wolframalpha.com/input/?i={}
